PORT=5000
# MONGODB_URI=mongodb://127.0.0.1:27017/oniro_relay
MONGODB_URI=mongodb://doadmin:t8A7jyN12m409s3E@pos-db-34c1d158.mongo.ondigitalocean.com:27017/relay-merchant?tls=true&authSource=admin&replicaSet=pos-db

JWT_SECRET=replace_with_secure_secret
